{{ define "main" }}
<p>👋🏻 Hi, I'm Rogue and welcome to my personal website and blog.</p>
<p>The goal for this website is to act as a culmination of my random thoughts, projects, and ramblings across the internet.
    I plan on adopting the <a href="https://indieweb.org/POSSE">POSSE</a> method for content creation using this website as a primary hub.
</p>
<p>My hobbies and topics you can expect to see on this website include: amateur radio, electrical engineering, <a href="https://letterboxd.com/roguefoam/">film</a> and media, personal knowledge management, dart blaster modification, and other random one-off topics! </p>
<p>Want to find me across the internet and see what else I'm up to?</p>
<ul>
    <li>Find me on <a href="https://defcon.social/@roguefoam">Mastodon</a> for more real-time thoughts and updates. I love having in-depth conversations
    on most any topic over there!</li>
    <li>Check out my <a href="https://letterboxd.com/roguefoam">Letterboxd</a> profile to see the movies I'm watching lately and my thoughts on them.</li>
    <li>On the rare occassion I write code, it'll be published to my <a href="https://github.com/cjtheham">Github</a> profile.</li>
    <li>I try to post images of my projects and general life events over on <a href="https://instagram.com/roguefoam574">Instagram</a> - feel free to follow there for the most
    dart blaster content!</li>
</ul>
<p>Got suggestions on this site or find an issue? Feel free to mention me on Mastodon!</p>
<p>Check out the navigation bar at the top to discover more content on this site. Have fun!</p>

{{ end }}